.header-container {
  background-color: #1f2937;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}


