* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in element's total width/height */
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.header-container {
  background-color: #1f2937;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  color: #f9faf8;
  font-size: 32px;
  font-weight: bold;
  display: flex;
}

.links {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 100;
  margin: 15px;
}

.hero-container {
  background-color: #1f2937;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column; /* Main: Vertical, Cross: Horizontal */
  width: 550px;
  gap: 25px; /* Adds gap between items */
}

.hero-title {
  color: #f9f9f9;
  font-size: 48px;
  font-weight: bold;
}

.hero-subtitle {
  color: #e5e7eb;
  font-size: 18px;
  width: 350px;
}

.hero-button {
  color: #f9f9f9;
  background-color: #3882f6;
  width: 175px;
  padding: 10px;
  text-align: center;
  border-radius: 8px; /* Make buttons round */
}

.content-container {
  background-color: white;
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.title {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
}

.image {
  width: 275px;
  border: 3px solid #3882f6;
  border-radius: 8px;
}

.image-subtitle {
  color: #1f2937;
  font-size: 18px;
  text-align: center;
  width: 275px;
}

.tweet-container {
  background-color: #e5e7eb;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
