* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in element's total width/height */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
  background-color: #1f2937;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-links {
  color: #f9faf8;
  display: flex;
  justify-content: space-evenly;
}
